body {
    font-family: "Open Sans";
}

h1 {
    font-family: Montserrat;
    font-size: 2em;
}

h1 img {
    height: 64px;
    vertical-align: middle;
}

h2,
h3 {
    font-weight: bold;
}
h2 #code {
    font-family: "Roboto Mono";
    color: darkcyan;
}

td {
    white-space: nowrap;
}

td.link {
    color: red;
    text-decoration: underline;
}

#sessions ul {
    padding-left: 20px;
}
#sessions ul li {
    margin: 0;
    padding: 0 0 0 2em;
    list-style: none;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 1.5em;
    background-image: url("../images/norec.png");
}

#sessions ul .rec {
    background-image: url("../images/youtube.svg");
}

#sessions ul .fut {
    background-image: url("../images/calendar.svg");
}

.table td,
.table th {
    padding: 0.5em;
}

.tooltip {
    font-size: 10pt;
    background-color: #ffffcc;
    border: 1px solid black;
    padding: 2px;
    position: absolute;
    display: none;
}

.topic {
    float: left;
    text-align: center;
    padding: 20px;
    margin: 10px;
    font-family: Montserrat;
    border: solid 2px transparent;
    border-radius: 6px;
    min-width: 180px;
}

.topic:hover {
    border-color: #69ff69;
    background: #cdffcd;
}

.topic img {
    display: block;
    height: 150px;
    margin: 0 auto;
}

a {
    color: #367588;
    text-decoration: none;
}

.menu {
    float: right;
}

.menu a {
    display: block-inline;
    padding: 10px;
    border-radius: 6px;
    font-size: 21px;
    border: solid 2px transparent;
}

.menu a:hover {
    border-color: #69ff69;
    background: #cdffcd;
}

#grid img {
    height: 24px;
    margin: 0 6px;
}

tr:hover {
    background: #cdffcd;
}
