body {
    font-family: "Open Sans";
}

h1 {
    font-family: Montserrat;
    font-size: 2em;
}

h2,
h3 {
    font-weight: bold;
}
h2 #code {
    font-family: "Roboto Mono";
    color: darkcyan;
}

td.link {
    color: red;
    text-decoration: underline;
}

#sessions ul {
    list-style-image: url("../images/norec.png");
}

#sessions ul .rec {
    list-style-image: url("../images/youtube.png");
}

#sessions ul .fut {
    list-style-image: url("../images/cal.png");
}

.table td,
.table th {
    padding: 0.5em;
}
