button {
    border: none;
    padding: 0;
    margin: 4px;
    background-color: gainsboro;
}
button img {
    width: 200px;
    height: 200px;
    border: none;
}
button .progress {
    height: 4px;
    background-color: lime;
    width: 0;
}
