body {
    margin: 0;
    background-color: black;
}

button {
    padding: 0;
    border: solid 2px gainsboro;
    margin: 4px;
    background-color: gainsboro;
}
button div {
    margin: 0;
}
button img {
    width: 180px;
    height: 180px;
    border: none;
    margin: 0;
}
button .progress {
    height: 6px;
    background-color: lime;
    width: 0;
}
