* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    overflow: hidden;
    display: flex;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.left,
.right,
.right div {
    height: 100%;
    padding: 10px;
    padding-left: 0;
}

.left {
    flex: 1;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

textarea {
    width: 100%;
    height: 100%;
    resize: none;
    font-size: 1rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    width: 100%;
    height: 100%;
    border: 1px solid #333;
    background-color: #fff;
}
